html {
  height: 100%;
  box-sizing: border-box;
}

body {
  text-align: center;
  min-height: 100%;
  position: relative;
  margin: 0;
  box-sizing: inherit;
}
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
