.container_carsouel {
  max-width: 1024px;
  margin: 0px auto;
  box-sizing: border-box;
}

.carousel {
  position: relative;
}
.carousel .thumbs {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}
.carousel .thumb {
  cursor: pointer;
  margin: 0 5px;
}
.carousel .overlay {
  width: 100%;
  position: absolute;
  top: 92%;
  transform: translateY(-50%);
  left: 0;
  padding: 0.4rem 1.5rem;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.carousel .overlay_title {
  margin: 0.8rem 0 1rem 0;
}
@media (max-width: 600px) {
  .carsouel .slide img {
    width: 100vw !important;
    height: 40vh;
    object-fit: cover;
  }
  .carousel .overlay {
    width: 100%;
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    left: 0;
  }
  .carousel .overlay_title {
    margin: 0.2rem 0 0.1rem 0;
    font-size: 1.1rem;
  }
  .carousel .overlay_text {
    font-size: 0.8rem;
  }
}
